PUSHER_KEY=your-pusher-key
PUSHER_CLUSTER=your-pusher-cluster
PUSHER_AUTH_ENDPOINT=https://your-auth-endpoint.com/api/

CHAT_API_URL=https://api.baseurl.com

# Every env variable must be defined in webpack.config.js DefinePlugin or it will not be available in the islands.
