ISLAND_API_URL=https://pokeapi.co/api/v2
PUSHER_KEY=your-pusher-key
PUSHER_CLUSTER=your-pusher-cluster
PUSHER_AUTH_ENDPOINT=https://your-auth-endpoint.com/api/
BASE_API_URL=https://your-api-url.com/api
```
